<div class="container-flex" id="evento" >
    <ul class="container-flex">
        <li class=" list-unstyled" *ngFor="let evento of eventos">
            <div class="row">
                <!-- img do evento -->
                <div class="col-4">                            
                    <div id="img-ev">
                        <a routerLink="eventos/{{evento.id}}"><img class="img-fluid rounded " id="imgEvento" src="../assets/imgPadrao.jpg"   alt=""></a>
                    </div> 
                </div>        
                <!-- conteudo do evento -->
                <div id="dados-ev" class="col-8">
                    <div>
                        <h1>{{evento.name}}</h1>
                        <p class="text-truncate">{{evento.descricao}} </p>
                        <a routerLink="eventos/{{evento.id}}" >Saiba mais...</a>
                    </div>  
                </div>                                 
            </div> 
        </li>
    </ul>
       
</div>
