<div class="container" id="tela-login">
    <form class="">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="email@email.com" [(ngModel)]="email" name="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" placeholder="digite sua senha" [(ngModel)]="senha" name="senha">
        </div>
        <button type="button" (click)="getDados()" routerLink="/usuario" class="btn btn-primary">Logar</button>
      </form>
</div>

