#layout-busca{
    margin-top: 100px;
    width: 70%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#titulo-busca{
    color: white;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #617e82 ;
    border-radius: 10px;
    
}

