<!-- <app-barra-nav></app-barra-nav> -->
<header class="">
    <nav class="navbar navbar-expand-md barra fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img id="logo" src="../assets/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul  class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Entrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="cadastro">Cadastrar</a>
            </li>
          </ul>          
        </div>        
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar evento">
            <button class="btn btn-outline-light" routerLink="busca" type="button">Buscar</button>
          </form>
        </div>      
      </div>
    </nav>
  </header>


<router-outlet></router-outlet>

