<div id="userArea" class="container">
    <div class="row">
        <div id="userOption" class="col-3">
                <div id="imgUser"><img class="img-fluid w-50" src="../assets/user.png" alt=""></div>
                <h2 class="">{{usuario.nameUser}}</h2>
                <ul class="mt-3">
                    <li class="list-unstyled"><a routerLink="cadEvento">CRIAR EVENTO</a></li>

                </ul>

        </div>

        <div class="col-9">
            <app-evento></app-evento>
        </div>
    </div>
</div>
