<div id="userArea" class="container">
    <div class="row">
        <div id="userOption" class="col-3" style="border: 1px solid red ;">
                <div id="imgUser"><img class="img-fluid w-50" src="../assets/user.png" alt=""></div>
                <h2 class="">Username</h2>
                <ul>
                    <li class="list-unstyled"><a href="">Criar eveto</a></li>

                </ul>

        </div>

        <div class="col-9" style="border: 1px solid rgb(109, 182, 60) ;">
            <app-evento></app-evento>
        </div>
    </div>
</div>
