<div class="container"  id="evento" >
    <div *ngIf="eventoItem" > 
                <!-- conteudo do evento -->
                    <div>
                        <h1>{{eventoItem.name}}</h1>

                        <div id="img-ev">
                            <a href=""><img class="img-fluid rounded " src="../assets/imgPadrao.jpg" alt=""></a>
                        </div>  
                        <p class="">{{eventoItem.descricao}} </p>
                    </div>     
    </div> 

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span>Deletar evento</span>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>Aplicar alteração? Após deletar não será possivel reverter!</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger">Deletar</button>
            </div>
        </div>
        </div>
    </div>                      
</div>

