<div id="cadEvento" class="container">
    <form [formGroup]="form" (submit)="cadEvento()">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="name" id="name" placeholder="digite o nome">
          </div>
        <div class="mb-3">
        <label  for="descricao" class="form-label">Descrição</label>
        <textarea class="form-control" formControlName="descricao" iid="descricao" rows="3" ></textarea>
      </div>
        <button type="button" (click)="cadEvento()" class="btn btn-primary">Cadastrar evento</button>
      </form>      
</div>
