#layout-inico{
    margin-top: 1.5em;
    
}

#principal{
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#titulo-principal{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #617e82 ;
    border-radius: 10px;
    
}

#titulo-principal h1{
    color: white;
    padding-left: 0.5em ;
}

#lateral{
    
}

#busca-lateral{
    width: 100%;
    padding: 0.5em;
    background-color: #626262 ;
    border-radius: 10px;
}






