<div id="layout-inico" class="container">
    <div class="row">

        <div class="col-8" style="border: 1px solid red;">
            <div id="titulo-principal">
                <h1>Eventos recentes</h1>
            </div>
            <app-evento></app-evento>
        </div>
        <div id="lateral" class="col-4">
            <div id="titulo-lateral">
                <h2 >Bem avaliados</h2>
            </div>            
            <app-evento></app-evento>
        </div>
           
    </div>

</div>
