#layout-inico{
    margin-top: 1.5em;
}

#principal{
    min-width: 800px;
}

#titulo-principal{
    padding: 2px;
    background-color: #7a75b5 ;
    border-radius: 10px;
    
}

#titulo-principal h1{
    color: white;
    padding-left: 0.5em ;
}




#titulo-lateral{
    width: 100%;
    padding: 0.5em;
    background-color: #626262 ;
    border-radius: 10px;
}

#titulo-lateral h2{
    color: white;
    padding-left: 0.5em;
}

@media (max-width: 600px) {
    div{
        font-size: 10px;
      }
  }


