<div id="layout-inico" class="container">
    <div class="row">

        <div id="principal" class="col-8">
            <div id="titulo-principal">
                <h1>Eventos recentes</h1>
            </div>
            <div class="conteudo">
                <app-evento></app-evento>
            </div>            
        </div>

        <div id="lateral" class="col-4">
            <div id="busca-lateral" >
                <form class="d-flex">
                    <input class="form-control " type="search" placeholder="Procurar evento" aria-label="Search">
                    <button class="btn btn-outline-primary" type="button">buscar</button>
                </form>      
             </div>
             <!-- conteudo da busca -->
             <div>
                <app-evento></app-evento>
             </div>
           
    </div>

</div>
